/* Main css file */

body{
	font-family: Arial;
	font-size: 14px;
	background-color: #EEE;
}

#Content{
	margin-left: auto;
	margin-right: auto;
	display: table;
	background-color: #FFFFFF;
	padding: 20px;
	min-height: 700px;
	position: relative;
	top: -10px;
}

#navBar{
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	display: table;
}

#workArea{
	border: 1px solid grey;
	border-radius: 4px;
	padding: 20px;
	width: 430px;
	display: inline-block;
	float: left;
}

#workArea div:first-child {
	font-size: 12px;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 15px;
	display: block;
}

#workArea div{
	margin-bottom: 20px;
	margin-left: 50px;
	display: table-row;
}

#workArea span{
	padding-top: 20px;
	padding-right: 10px;
	display: table-cell;
}

#workArea input{
	display: table-cell;
}

#relatedDocumentsView{
	border: 1px solid grey;
	border-radius: 4px;
	padding: 20px;
	width: 220px;
	display: inline-block;
	float: right;
}

#relatedDocumentsView div:first-child {
	font-size: 12px;
	font-weight: bold;
	margin-left: 3px;
	margin-bottom: 15px;
}

#ProcessModelContainer{
	cursor: move;
}

#ProcessModelBorder{
	border: 1px solid grey;
	border-radius: 5px;
	
	overflow: auto;
	width: 700px;
	height: 150px;	
	padding: 20px;
}

.flowObject{
	color: black;
	font-size: 11px;
	position: absolute;
	padding: 5px; 
}

.Activity{
	border: 1px solid black;
	border-radius: 4px;
}

.Gateway{
	border: none;
}

.Gateway::after{
	display: inline-block;
	position: absolute;
	left: 8px;
	top: -10px;
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	border: 1px solid black;
	content: "";
}

.Event{
	margin-top: -5px;
	border: 1px solid black;
	border-radius: 100px;
	padding: 10px;
}

.Selected{
	background-color: black;
	color: white;
}
